{
    "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "parser": "@typescript-eslint/parser",
    "rules": {
        "prettier/prettier": "warn",
        "no-console": "warn",
        "@typescript-eslint/no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
        "quotes": ["warn", "single"],
        "prefer-const": "error",
        "indent": ["warn", 2],
        "semi": ["warn", "always"],
        "consistent-return": "off",
        // "arrow-body-style": "error",
        "curly": ["error", "all"],

        "import/no-default-export": "error",
        "import/prefer-default-export": "off",
        "import/order": [
            "warn",
            {
                "pathGroups": [
                    {
                        "pattern": "@/**",
                        "group": "internal",
                        "position": "after"
                    },
                    {
                        "pattern": "./**",
                        "group": "internal",
                        "position": "after"
                    }
                ],
                "newlines-between": "always",
                "pathGroupsExcludedImportTypes": ["builtin"],
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ],
        "comma-dangle": "off",

        "react/prop-types": "off",
        "react/no-children-prop": "off",
        "react/no-array-index-key": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-props-no-spreading": "off",
        "react/display-name": "off",
        "prefer-destructuring": "off",
        "jsx-a11y/control-has-associated-label": "off",
        "jsx-quotes": ["warn", "prefer-double"],

        "padding-line-between-statements": [
            "error",
            { "blankLine": "always", "prev": "*", "next": "if" },
            { "blankLine": "always", "prev": "*", "next": "for" },
            { "blankLine": "always", "prev": "*", "next": "while" },
            { "blankLine": "always", "prev": "*", "next": "return" }
        ]
    },
    "settings": {
        "import/extensions": [".ts", ".tsx"],
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        // eslint-import-resolver-alias
        "import/resolver": {
            "alias": {
                "map": [
                    ["@", "./src"],
                    ["@components", "./src/components"],
                    ["@ui", "./src/components/ui"],
                    ["@constants", "./src/constants"],
                    ["@pages", "./src/pages"],
                    ["@utils", "./src/utils"],
                    ["@hooks", "./src/hooks"],
                    ["@assets", "./src/assets"]
                ],
                "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
            }
        }
    },
    "ignorePatterns": ["node_modules/", "dist", "*.config.*"]
}
