@import "../../vars.css";

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  width: 180px;
  height: 100%;
  font-family: var(--font-inter);
  transition: var(--transition);
  border-radius: var(--border-radius);
  color: var(--color-black);
  white-space: nowrap;
  padding: 0 24px;

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  &:active {
    transform: var(--scale);
  }
}

.action {
  column-gap: 8px;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.route {
  color: var(--color-black);

  @media (max-width: 480px) {
    max-width: 154px;
  }
}

.active {
  transition: var(--transition);
  background-color: var(--color-gray-light);
}

.disabled {
  opacity: 0.75;
}

.contextMenu {
  height: 100%;
  display: flex;
  align-items: center;
}
