.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  flex: 0 0 400px;
  max-width: 400px;
  padding: 24px;
  padding-bottom: 0;

  &:first-child {
    margin-left: 80px;
  }

  &:last-child {
    margin-right: 80px;
  }
}

.heading {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 12px;
  max-width: 100%;
  background-color: transparent;
  overflow: hidden;
  max-height: 84px;

  &:focus {
    outline: none;
  }
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  height: 100%;
  overflow: scroll;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 8px 0;
}

.tags {
  display: flex;
  column-gap: 12px;
  color: var(--color-blue);
}

.date {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: var(--color-gray);
}
