.wrapper {
  display: flex;
  height: 100%;
}

.notes {
  column-gap: 20px;
  overflow-x: scroll;
  padding-bottom: 22px;
}

.welcome {
  padding-top: 52px;
  justify-content: center;
}

.loader {
  justify-content: center;
  align-items: center;
}

.errorMessage {
  max-width: none;
}
