.wrapper {
  display: flex;
  height: 100%;
}

.notes {
  column-gap: 20px;
  padding: vh 0;
  overflow-x: scroll;
  padding-bottom: 22px;
}

.welcome {
  padding-top: 52px;
  justify-content: center;
}
