@import "../../vars.css";

.wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  border-radius: var(--border-radius);
  padding: 4px;
  gap: 4px;
  height: 60px;
  background-color: var(--color-white);
  box-shadow: var(--shadow-container);
  width: 100%;
  max-width: 556px;

  @media (max-width: 645px) {
    width: calc(100% - 80px);
  }

  @media (max-width: 480px) {
    width: calc(100% - 40px);
  }
}

.button {
  z-index: 5;

  @media (max-width: 645px) {
    height: 52px;
    width: 52px;
    padding: 0;
    flex-shrink: 0;
  }
}
