@import '../../vars.css';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: var(--border-radus);
  padding: 4px;
  gap: 4px;
  height: 60px;
  background-color: var(--color-white);
  box-shadow: var(--shadow-container);
  width: 100%;
  max-width: 556px;
}
