@import "../../../vars.css";

.header {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: var(--border-radus);
  padding: 4px;
  gap: 4px;
  height: 60px;
  background-color: var(--color-white);
  box-shadow: var(--shadow-container);
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
