@import "../../../vars.css";

.header {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: var(--border-radius);
  padding: 4px;
  gap: 4px;
  height: 60px;
  background-color: var(--color-white);
  box-shadow: var(--shadow-container);
  margin: 0 20px;

  @media (max-width: 480px) {
    width: calc(100% - 40px);
    justify-content: space-between;
  }
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: 100%;
}

.route {
  @media (max-width: 480px) {
    padding: 0;
    max-width: none;
    width: 100%;
  }
}
