@import url(https://fonts.googleapis.com/css?family=Oswald:300,regular,500);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:500,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: fixed;
}

body {
  margin: 0;
  font-family: "Oswald", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-height: 100%;
  height: 100%;
}

#menu-appbar ul {
  padding: 0;
}

input,
textarea {
  font-family: "Inter";
  border: none;
}
