:root {
  /* --- PALLETE --- */
  --color-purple-light: #ebe7f7;

  --color-blue: #287fe4;
  --color-white: #ffffff;
  --color-white-light: #eeeeee;
  --color-black: #1f1f1f;
  --color-gray: #808080;
  --color-gray-light: #ebebeb;

  --color-green-ligh: #e8fbfe;
  --color-green: #ecfee8;
  --color-purple: #ece8fe;
  --color-pink: #fee8fa;
  --color-orange: #ffee8e8f;
  --color-yellow: #fef4e8;

  /* --- FONTS --- */
  --font-inter: "Inter";

  /* --- SHADOWS --- */
  --shadow-container: 0px 4px 20px 0px #00000026;
  --shadow-note: 0px 15px 40px 0px #00000026;
  --shadow-context: 0px 8px 20px 0px #00000026;

  /* --- OTHER --- */
  --border-radius: 100px;
  --transition: all 0.3s ease;
  --scale: scale(0.95);
}
